<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    {% include "includes/head.html" %}
</head>

    <div>
        <!-- Page Preloder -->
        {% include "includes/preloader.html" %}

        <!-- Header Section Begin -->
        {% include "includes/header.html" %}

        {% if form.errors %}
            {% include "includes/messages.html" %}
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                {% include "includes/footer.html" %}
            {% else %}
                {% include "includes/footer.html" %}
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            <div class="form-group">
                {% csrf_token %}
                <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                </table>

            <input type="submit" value="Entrar">
            <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
        <p><a href="{% url 'register' %}">Criar Conta</a></p>
    </div>

        <!-- Footer Section Begin -->
        {% include "includes/footer.html" %}

        <!-- Js Plugins -->
        {% include "includes/js-plugins.html" %}
    </body>
</html>