{% load static %}

<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> chocolateria.diva@gmail.com</li>
                            <li>Frete gratis acima de R$150,00</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="https://www.facebook.com/chocolateriadadiva"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/chocolateria_da_diva/"><i class="fa fa-instagram"></i></a>
                        <a class="header__top__right__auth">
                                {% if user.is_authenticated %}
                                    <a href="#">Olá {{ user.username }}</a>
                                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a>
                                {% else %}
                                    <a href="{% url 'login' %}"><i class="fa fa-user"></i> Login</a>
                                {% endif %}
<!--                                <a href="{% url 'login' %}"><i class="fa fa-user"></i> Login</a>-->
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'index' %}"><img style="height:70px;" src="{% static 'img/logo.jpg' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
                        <li><a href="{% url 'shop-grid' %}">Loja</a></li>
                        <li><a href="#">Paginas</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="{% url 'shoping-cart' %}">Carrinho de Compra</a></li>
                                <li><a href="{% url 'checkout' %}">Terminar Pedido</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'contact' %}">Contato</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="{% url 'shoping-cart' %}"><i class="fa fa-shopping-bag"></i> <span>{{cartItems}}</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>