<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.62937398527!2d-48.60537121821327!3d-26.111014515652194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d956d0c5c5c46f%3A0x1dcf728105c076e1!2sR.%20Lodovico%20No%C3%A9%20Zagonel%2C%20316%2C%20Itapo%C3%A1%20-%20SC%2C%2089249-000!5e0!3m2!1spt-BR!2sbr!4v1601757446367!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>Itapoa</h4>
            <ul>
                <li>Telefone: (47) 9 9723-7976</li>
                <li>Endereço: Rua 1570. Itapoa Centro, SC</li>
            </ul>
        </div>
    </div>
</div>