<!DOCTYPE html>
{% load static %}
<html lang="zxx">
    <head>
        {% include "includes/head.html" %}
    </head>
    <body>
        <!-- Page Preloder -->
        {% include "includes/preloader.html" %}

        <!-- Header Section Begin -->
        {% include "includes/header.html" %}

        <!-- Checkout Section Begin -->
        <section class="checkout spad">
            <div class="container">
                <div class="checkout__form">
                    {% if user.is_authenticated %}
                        <h4>Detalhes de cobrança</h4>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-8 col-md-6">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Primeiro Nome<span>*</span></p>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Ultimo Nome<span>*</span></p>
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout__input">
                                        <p>País<span>*</span></p>
                                        <input type="text">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Endereço<span>*</span></p>
                                        <input type="text" placeholder="Rua" class="checkout__input__add">
                                        <input type="text" placeholder="apto, n°, outro...">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Cidade<span>*</span></p>
                                        <input type="text">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Estado<span>*</span></p>
                                        <input type="text">
                                    </div>
                                    <div class="checkout__input">
                                        <p>CEP<span>*</span></p>
                                        <input type="text">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Telefone<span>*</span></p>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Email<span>*</span></p>
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END SHIPING ADDRESS -->

                                <!-- ORDER -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="checkout__order">
                                        <h4>Seu Pedido</h4>
                                        <div class="checkout__order__products">Produtos <span>Total</span></div>
                                        {% for item in items %}
                                            <ul>
                                                <li>{{item.product.name}}<span>R${{item.get_total|floatformat:2}}</span></li>
                                            </ul>
                                        {% endfor %}
                                        <div class="checkout__order__total">Total <span>R${{order.get_cart_total|floatformat:2}}</span></div>
                                        <div class="checkout__input__checkbox">
                                            <label for="payment">
                                                Check Payment
                                                <input type="checkbox" id="payment">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="checkout__input__checkbox">
                                            <label for="paypal">
                                                Paypal
                                                <input type="checkbox" id="paypal">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div>
                                            <img src="{% static 'img/payment-item.png' %}" alt="" />
                                        </div>
                                        <button type="submit" class="site-btn hidden" id="payment-info">FINALIZAR</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <h4>Realize o login para continuar</h4>
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- Checkout Section End -->

        <!-- Footer Section Begin -->
        {% include "includes/footer.html" %}

        <!-- Js Plugins -->
        {% include "includes/js-plugins.html" %}
    </body>
</html>