<!DOCTYPE html>
{% load static %}
<html lang="zxx">
    <head>
        {% include "includes/head.html" %}

        <script type="text/javascript">
            var user = '{{request.user}}'

            function getToken(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getToken('csrftoken')
        </script>
    </head>
    <body>
        <!-- Page Preloder -->
        {% include "includes/preloader.html" %}

        <!-- Header Section Begin -->
        {% include "includes/header.html" %}

        <!-- Product Section Begin -->
        <section class="product spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <div class="sidebar">
                            <div class="sidebar__item">
                                <h4>Departamentos</h4>
                                <ul>
                                    <li><a href="#">Docinhos</a></li>
                                    <li><a href="#">Kit Bolos</a></li>
                                    <li><a href="#">Cestas</a></li>
                                    <li><a href="#">Caixas</a></li>
                                    <li><a href="#">Bolos de Pote</a></li>
                                </ul>
                            </div>
                            <div class="sidebar__item">
                                <h4>Preço</h4>
                                <div class="price-range-wrap">
                                    <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                        data-min="10" data-max="540">
                                        <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    </div>
                                    <div class="range-slider">
                                        <div class="price-input">
                                            <input type="text" id="minamount">
                                            <input type="text" id="maxamount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar__item">
                                <div class="latest-product__text">
                                    <h4>Recentes</h4>
                                    <div class="latest-product__slider owl-carousel">
                                        <div class="latest-product__slider__item">
                                            {% if p != null %}
                                                {% for product in products %}
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img style="width:100px; height: 100%;" src="{{product.imageURL}}" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>{{product.name}}</h6>
                                                            <span>R${{product.price|floatformat:2}}</span>
                                                        </div>
                                                    </a>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="latest-prdouct__slider__item">
                                            {% if p != null %}
                                                {% for product in products %}
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img style="width:100px; height: 100%;" src="{{product.imageURL}}" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>{{product.name}}</h6>
                                                            <span>R${{product.price|floatformat:2}}</span>
                                                        </div>
                                                    </a>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-7">
                        <!-- Search -->
                            <div class="row">
                                <div class="hero__search__form">
                                    <form action="#">
                                        <input type="text" placeholder="O que você esta procurando?">
                                        <button type="submit" class="site-btn">Buscar</button>
                                    </form>
                                </div>
                            </div>
                        <!-- end Search -->
                        <br/>
                        <div class="product__discount">
                            <div class="section-title product__discount__title">
                                <h2>Promoçao</h2>
                            </div>
                            <div class="row">
                                <div class="product__discount__slider owl-carousel">
                                    {% if products != null %}
                                        {% for product in products %}
                                            <div class="col-lg-4">
                                                <div class="product__discount__item">
                                                    <div class="product__discount__item__pic set-bg"
                                                        data-setbg="{{product.imageURL}}">
                                                        <div class="product__discount__percent">-20%</div>
                                                        <ul class="product__item__pic__hover">
                                                            <li><a data-product="{{product.id}}" data-action="add" href="#" class="update-cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="product__discount__item__text">
                                                        <h5><a href="#">{{product.name}}</a></h5>
                                                        <div class="product__item__price">R${{product.price|floatformat:2}} <span>R${{product.price|floatformat:2}}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="filter__item">
                            <div class="row">
                                <div class="col-lg-4 col-md-5">
                                    <div class="filter__sort">
                                        <span>Ordenar:</span>
                                        <select>
                                            <option value="0">Relevancia</option>
                                            <option value="0">Preço Menor</option>
                                            <option value="0">Preço Maior</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="filter__found">
                                        {% if products != null %}
                                            <h6><span>{{products.count}}</span> Produtos encontrados</h6>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-3">
                                    <div class="filter__option">
                                        <span class="icon_grid-2x2"></span>
                                        <span class="icon_ul"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% if products != null %}
                                {% for product in products %}
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="{{product.imageURL}}">
                                                <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i data-product="{{product.id}}" data-action="add" class="fa fa-shopping-cart update-cart"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="product__item__text">
                                                <h6><a href="#">{{product.name}}</a></h6>
                                                <h5>R${{product.price|floatformat:2}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="product__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Product Section End -->

        <!-- Footer Section Begin -->
        {% include "includes/footer.html" %}

        <!-- Js Plugins -->
        {% include "includes/js-plugins.html" %}
    </body>
</html>